<!--<p id="notice"><%= notice %></p>-->
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="messagewriter-id" data-messagewriter-id="<%= current_messagewriter.id %>"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'form', room: Room.new %>
      <hr />

      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light mb-4">
            <span class="navbar-brand" href="#"><%= @room.name %></span>
            <ul class="navbar-nav">
              <li class="nav-item">
                Logged in as, <%= current_messagewriter.username %>
              </li>
            </ul>
          </nav>
          <div id="messages">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

<!--
<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
-->