<!--<p id="notice"><%= notice %></p>-->
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="messagewriter-id" data-messagewriter-id="<%= current_messagewriter.id %>"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 rooms-sidebar">
      <div class="card no-outline">
        <div class="card-body card-body-color">
          <% if user_signed_in? %>
            <small><strong>Logged in as</small></strong><br> <span id="current_messagewriter"><%= current_messagewriter.username %></span><!--current_user.email-->
            <!--(aka: <strong id="current_messagewriter"><%= current_messagewriter.username %></strong>)--><br>
            <p id="roomlogout">[ <%= link_to 'Logout', destroy_user_session_path, :method => :delete%> ]</p>
          <% end %>
          <% if not current_user.nil? %> 
            <hr>
            <b>Roles : </b> 
            <% if current_user.is_messagewriter? %>
              simple user
            <% end %>
            <% if current_user.is_admin? %>
              , admin
              <br/><span class="admpanel"><strong>Control panel:</strong> [ <%= link_to "Admin Control Panel", admin_view_path %> ]</span>
            <% end %>
            <% if current_user.is_banned? %>
              suspended user
            <% end %>
          <% end  %>
        </div>
      </div>
      <hr>
      <%= render 'form', room: Room.new %>
      <hr>
      <% if not current_user.is_banned? %>
        <% @rooms.each do |room| %>
          <%= link_to room, class: 'room-link' do %>
            <% active_class = (@room == room) ? 'active' : '' %>
            <div class="card no-outline mb-2 room-card <%= active_class %>">
              <div class="card-body">
                <span class='name'><%= room.name %></span><br>
                <span class='member-count'>
                  <small><%= room.messagewriters.uniq.count %> chatters</small>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light">
            <span class="navbar-brand" href="#">
              <b><%= @room.name %></b>
              <% if current_user.is_admin? %>
                <span>[<%= link_to 'x', @room, method: :delete, data: { confirm: 'Are you sure you want to delete this room?' } %>]</span>
              <% end %>
            </span>
            <small><%= @room.messagewriters.uniq.count %> chatters</small>
          </nav>
          <div id="messages">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--
<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
-->